a {
    text-decoration: none;
    display: inline-block;
}

.previous {
    padding: 8px 16px;
}

.next {
    color: black;
    padding: 8px 26px;
}

.bottom-right {
    float: right;
}

.bottom-left {
    float: left;
}

#timer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: large;
    font-weight: bold;
    visibility: hidden;
}

@media(max-width: 500px) {
    #timer {
    left: 65%
    }
  }